<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>JesperHustad</title>
    <meta name="description" content="Create an 11ty website out of nonplain files">

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-title">
  <a class="no-link-style" href="/">
    <strong style="font-weight: 700;">
      <span>Jesper</span>
      <br />
      <span>Hustad</span>
      <br />
      <span>.com</span>
      <br />
    </strong>
  </a>
</div>

        
<!-- class="selected" -->
        <ul><li >
            <a href="/">All posts</a>
          </li><li>
            <a href="/posts/">About</a>
          </li><li>
            <!-- <a href="/posts/">Dark mode</a>
          </li><li> -->
      </nav>

      <h1 id="hidden-header" style="font-size: 0; opacity: 0; max-height: 0; max-width: 0;">Post 2</h1>
    </header>

<main>
      <!-- <br> -->
      <span style="color: var(--gray-600); font-size: small;">
        {{ date }}
      </span>
      <!-- <ul class="breadcrumb"><li><a href="/posts/">home</a></li> -->
      </ul>

      <article class="markdown-body">
          {{ content }}
      </article>



</main>

    <footer>
      <span id="pubyear"><a>Set dark mode</a></span>
      <!-- <script>document.getElementById("pubyear").innerHTML = (new Date).getFullYear()</script> -->
    </footer>
  </body>
</html>
